<h1><%=@recipe.title%></h1>
<h2><%=@recipe.text%></h2>
<h3>Difficulty Level: <%=@recipe.difficulty_level%>
    Calories: <%=@recipe.calories%>
    Carbs: <%=@recipe.carbs%>
    Protein: <%=@recipe.protein%>
    </h3>